.modalTitle{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 10px;
}
.modalStatus{
    margin-bottom: 20px;
}
.description{
    font-size: 16px;
    margin-bottom: 10px;
}
.itineraryTitle{
   font-size: 24px;
   font-weight: 400;
   margin-bottom: 20px;
}
.itineraryItem{
    display: flex;
    gap: 5px;
}
.itineraryBullet{
    background-color: black;
    width: 2px;
}
.lastItineraryBullet{
    background-color: black;
    width: 2px;
    height: 10px;
    text-align: center;
}
.itineraryDay{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
}
.itineraryDescription{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    color:#898989;
}