.filter{
    display: flex;
    flex-direction: row; 
    margin-bottom: 20px;
    cursor: pointer;
}
.selectedFilter{
    background-color: #F3F3F3;
    padding: 10px 20px;
    border: 1px solid #ccc;
}
.notSelectedFilter{
    padding: 10px 20px;
    border: 1px solid #ccc;

}