.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  width: 928px;

}
.text{
  text-align: center;
}
.headerBar{
  background: black;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.createTrip{
  display: flex;
  align-items: center;
  background: white;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 30px;
}
